.mf-glry {
  $self: &;
  margin: 100px 0;
  #{$self}__fltrs {
    padding: 0;
    margin: 0 auto 20px auto;
    list-style: none;
    text-align: center;
    & li {
      cursor: pointer;
      display: inline-block;
      padding: 8px 16px 10px 16px;
      font-size: 13px;
      font-weight: 500;
      line-height: 1;
      text-transform: uppercase;
      color: #444444;
      margin-bottom: 5px;
      transition: all 0.3s ease-in-out;
      border-radius: 50px;
      &:hover,&.is-active {
        color: #fff;
        background: #34b7a7;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}